services:
  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    image: meghasep26/fastapi:dev
    ports:
      - "8000:8000"

  streamlit:
    build:
      context: ./streamlit_app
      dockerfile: Dockerfile
    image: meghasep26/streamlit:dev
    ports:
      - "8501:8501"
    environment:
      API_URL: "http://fastapi:8000"